body {
    background: black;
}

h1 {
    color: white;
    margin-bottom: 50px;
}
.flexbox {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 0 100px 0 100px;
    height: 100px;
    width: 100px;
}
button {
    position: absolute;
}


.RevealContainer {
    display: flex;
    justify-content: center;
}
#replycontainer {
    color: white;
    position: relative;
    top: 200px;
    visibility: hidden;
}